* text eol=lf
*.tsv text
*.csv text

# Specific Windows
*.bat text eol=crlf

# truly binary and should not be modified.
*.db binary
*.docx binary
*.jar binary
*.jpg binary
*.odg binary
*.odt binary
*.otf binary
*.pdf binary
*.png binary
*.pptx binary
*.ttf binary
*.xlsx binary
*.woff binary
*.woff2 binary
*.zip binary


