html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

#header {
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    background-color: #aaa;
    color: #fff;
}

#header>h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

#win {}

#row {
    display: flex;
    width: 100%;
}

#row>* {
    padding: 1rem;
}


#upload,
#download {
    position: relative;
    flex-basis: 18rem;
    flex-shrink: 0;
    text-align: center;
}

#upload h2,
#download h2 {
    margin: 0 0 1rem 0;
    padding: 0;
}

#upload > header,
#download > header {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: #000 0 2px 3px;
}


#icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
#icons img {
    opacity: 0.5;
    /*
    background-color: #fff;
    border: 0.3rem solid #fff;
    */
}

#icons img.todo {
    opacity: 0;
}

#preview {
    flex-grow: 4;
    flex-shrink: 4;
    overflow: auto;
    height: calc(100vh - 2rem);
}

#banner {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#content {
    max-width: 80ex;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    width: 100%;
}

#dropzone {
    position: relative;
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    width: 16rem;
    height: 16rem;
    overflow-wrap: break-word;
}

#dropzone output,
#dropzone img {
    /*should avoid some events odds, exept for the serach but */
    pointer-events: none;
}

#dropzone.inactive {
    background-color: transparent;    
}

#preview.active {
    background-color: #fff;
}


img.back {
    width: 14rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.1;
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

#dropzone img.back {
    top: 0;
}

#dropzone output {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -70%);
}

#dropzone big {
    font-weight: bold;
    font-size: 2rem;
}


#dropzone .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
}

#dropzone button {
    color: #aaa;
    border: solid 1px #aaa;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

#dropzone button:hover {
    color: #000;
    border-color: #000;
}

div.format {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#dropzone  div.format {
    height: 7rem;
    padding-top: 1rem;
    text-align: center;
}
#dropzone  div.format,
#dropzone  div.filename {
}


div.format.docx {
    background-image: url('img/icon_docx.svg');
}
div.format.epub {
    background-image: url('img/icon_docx.epub');
}
div.format.html {
    background-image: url('img/icon_html.svg');
}
div.format.md {
    background-image: url('img/icon_md.svg');
}
div.format.tei {
    background-image: url('img/icon_tei.svg');
}
