:root {
    --col1: #343;
    --bg1: #fff;
    --col2: #a63;
    --shadow: rgba(64, 32, 32, 0.3);
    --font-family: "Montserrat", serif;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    src: url("Montserrat-VariableFont_wght.woff2") format('woff2');
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: italic;
    src: url("Montserrat-Italic-VariableFont_wght.woff2") format('woff2');
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
}


.format.docx {
    background-image: url('doc/img/icon_docx.svg');
}

.format.epub {
    background-image: url('doc/img/icon_epub.svg');
}

.format.html {
    background-image: url('doc/img/icon_html.svg');
}

.format.md {
    background-image: url('doc/img/icon_markdown.svg');
}

.format.markdown {
    background-image: url('doc/img/icon_markdown.svg');
}

.format.tei {
    background-image: url('doc/img/icon_tei.svg');
}


html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--col1);
}

a {
    color: var(--col2);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 a {
    display: block;
}

h3 a:hover {
    text-decoration: underline;
}

#win {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

#header {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: 400;
}

#header a {
    color: var(--col1);
}

#header a.logo {
    background-color: var(--bg1);
    display: block;
    text-align: center;
    padding: 15px;
    position: relative;
}

a.logo>img {
    height: 93px;
}

#header>.moto {
    margin: 0;
    padding: 20px;
    font-weight: bold;
}

#header>h1 a {
    display: block;
}

#row {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    box-shadow: 0px -5px 15px var(--shadow);
}

#row>* {
    padding: 1rem;
}


#upload,
#download {
    position: relative;
    flex-basis: 18rem;
    flex-shrink: 0;
    text-align: center;
    overflow: auto;
}

#upload h2,
#download h2 {
    margin: 0 0 1rem 0;
    padding: 0;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

#icons>* {
    width: 3rem;
    height: 3rem;
    /*
    background-color: #fff;
    border: 0.3rem solid #fff;
    */
}

#icons>*.todo {
    opacity: 0.2;
}

#preview {
    max-width: 40rem;
    overflow: auto;
}

#preview.active {
}

img.waiting {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    height: 70vh;
}

#banner {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#content {
    max-width: 80ex;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    width: 100%;
}

.card {
    font-size: 14px;
    position: relative;
    padding: 15px;
    text-align: center;
}

.card.inactive {
    opacity: 0.5;
}

.card h3 {
    color: var(--col1);
    font-weight: 600;
    line-height: 1;
    font-size: 22px;
    margin: 10px 0 20px 0;
    text-indent: 0;
    padding: 0;
}

#dropzone {
    width: 16rem;
    height: 16rem;
    overflow-wrap: break-word;
    box-shadow: 0px 5px 15px  var(--shadow);;
}

#downzone {
    width: 16rem;
    min-height: 16rem;
}
#dropzone output {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translate(0, -50%);
}

#dropzone output,
#dropzone img {
    /*should avoid some events odds, exept for the serach but */
    pointer-events: none;
}

#dropzone.inactive {
    box-shadow: none;
}

#downzone.active {
    box-shadow: 0px 5px 15px  var(--shadow);
}


img.back {
    width: 14rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.1;
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

#dropzone img.back {
    top: 0;
}





#dropzone .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
}

#dropzone button {
    color: #aaa;
    border: solid 1px #aaa;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

#dropzone button:hover {
    color: #000;
    border-color: #000;
}

div.format {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

a.download {
    padding: 0 0.5rem;
    color: #000;
    text-decoration: none;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}
a.download:hover {
    box-shadow:0px 5px 15px  var(--shadow);
}


a.download div.format {
    height: 5rem;
    width: 5rem;
    flex-basis: 5rem;
}

a.download:hover {
    background: #fff;
}


#dropzone div.format {
    height: 7rem;
    padding-top: 1rem;
    text-align: center;
}

#footer .rule {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col1);
    padding: 10px;
}

.monogram {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('obtic_monogram.svg');
}

.rule .monogram {
    width: 50px;
    height: 50px;
}

.rule::before,
.rule::after {
    content: "  ";
    font-size: 0;
    border: 1px solid var(--bg1);
    margin: 0 10px;
    width: 35%;
}